.uuid-generator-container {
  align-items: center;
  margin: 20px;
  max-width: 8.5in;
}

media print {
  .uuid-generator-container {
    max-width: 100%;
    /* Use the full width of the paper for printing */
  }
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-toggle-btn {
  margin-bottom: 10px;
}

.settings-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.uuid-list {
  display: grid;
  gap: 20px;
}

.uuid-cell {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  page-break-inside: avoid;
}

.uuid-code {
  margin-bottom: 10px;
}

.qr-code-img {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}
